extends ../layouts/application.pug
block main
    script(src="//cdn.ckeditor.com/4.5.11/standard/ckeditor.js")
- var form = ((view.endsWith('edit'))?['POST','/post/'+blog.URL]:['POST','/posts'])
div.container-fluid
    form(method=form[0], action=form[1], id="blogForm", enctype="multipart/form-data")
        div.form-group
            input.form-control(id="URL" name="url" placeholder="PERMALINK..." autocomplete="off" value=blog.URL, type="hidden")
        div.form-group
            label.custom-file(for="file")
                input.form-control.custom-file-input(type="file" id="file" name="file")
                span.custom-file-control
        div.form-group
            label(for="title") Title
            input.form-control(id="title" name="title" placeholder="Enter Title" autocomplete="off" value=blog.Title)
        div.form-group
            label(for="summary") Summary
            input.form-control(id="summary" name="summary" placeholder="Enter Summary" autocomplete="off" value=blog.Summary)
        div.form-group
            label(for="body") Body
            textarea(name="body" id="bodyArea" rows="10" cols="80")= blog.Body
        div.form-group
            label(for="tags")
            input.form-control(id="tags" name="tags" placeholder="categories" data-role="tagsinput" autocomplete="off" value=(blog.Tags.join(",")))
        input.btn.btn-primary(type="submit")
    script.
        CKEDITOR.replace('body')